.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: 'Neonderthaw', cursive;
    background-color: lightpink;
}

.note{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-size: 100px;
}

.div_speed{
    float: left;
}

.div_speed_image{
    width: 200px;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

#speed{
    font-size: 20px;
    margin: 15px;
    font-family: 'Neonderthaw', cursive;
    background-color: palevioletred;
}

.div_volume{
    float: right;
}

.div_volume_image{
    width: 200px;
    border-radius: 100px;
    margin-right: 20px;
    margin-top: 20px;
}

#volume{
    font-size: 20px;
    margin: 15px;
    font-family: 'Neonderthaw', cursive;
    background-color: palevioletred;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 50px palevioletred;}
    to{box-shadow: 1px 1px 50px rgb(253, 199, 207);}
}